body {
	background-color: #1b1b1d;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

#container {
  width: 676px;
}

#graph {
  padding-top:30px;
	width: 676px;
	height: 196px;
}

.odometer {
  color: white;
  font-size: 36px;
}

.odometer .odometer-inside .odometer-digit:last-child {
    display: none
}

.odometer .odometer-inside:before {
  content: "$"
}

.highcharts-series .highcharts-graph.unfocused {
  stroke:#006850;
  stroke-width: 2;
} 

.highcharts-series .highcharts-graph {
  stroke:#21ce99;
  stroke-width: 2;
} 

.highcharts-yaxis-grid {
  display: none;
}

.highcharts-yaxis-labels {
  display: none;
}

.highcharts-yaxis {
  display: none;
}
