body {
	background-color: #1b1b1d;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

#container {
  width: 676px;
}

#graph {
  padding-top:30px;
	width: 676px;
	height: 196px;
}

.odometer {
  color: white;
  font-size: 36px;
}

.highcharts-series .highcharts-graph.unfocused {
  stroke:#182b27;
  stroke-width: 2;
} 

.highcharts-series .highcharts-graph {
  stroke:#21ce99;
  stroke-width: 2;
} 
