body {
	background-color: #1b1b1d;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

#container {
  width: 676px;
}

#graph {
  padding-top:30px;
	width: 676px;
	height: 196px;
}

.odometer {
  color: white;
  font-size: 36px;
}